<table class="table is-fullwidth is-bordered" *ngIf="todos.length > 0">
  <!-- <thead>
    <th>ID</th>
    <th width="90%">Tarefa</th>
    <th>Deletar</th>
  </thead> -->
  <tbody>
    <tr *ngFor="let todo of todos; let i = index">
      <td>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" [checked]="todo.completed" (change)="completed(i, todo)">
              <div class="checkbox__indicator"></div>
            </label>
          </div>
        </div>
      </td>
      <td width="90%" class="todo-text" [class.completed]="todo.completed">

        <span (dblclick)="openEdit[i]=true" *ngIf="!openEdit[i]">{{todo.text}}</span>
        <div *ngIf="openEdit[i]">
          <input type="text" style="min-width: 50%" [value]="todo.text" (keyup.enter)="edit(i, newTodo.value)" #newTodo/>
          <a class="button is-small is-success" (click)="edit(i, newTodo.value)">Save</a>
          <a class="button is-small is-danger" (click)="openEdit[i]=false">Cancel</a>
        </div>
      </td>
      <td><a class="button is-small is-danger is-outlined" (click)="remove(i)">Delete</a></td>
    </tr>
  </tbody>
</table>


<p>

</p>